@font-face {
    font-family: "Hack-NF-Mono";
    src: url("./fonts/Hack-NF-Mono.eot");
    src: url("./fonts/Hack-NF-Mono.woff") format("woff"),
    url("./fonts/Hack-NF-Mono.woff") format("woff2"),
    url("./fonts/Hack-NF-Mono.ttf") format("ttf"),
    url("./fonts/Hack-NF-Mono.svg#filename") format("svg");
}

.view{
    background-color: rgb(117, 180, 180);
}
.maintext {
    font-family: 'Hack-NF-Mono';
    text-align: center;
    color: azure;
    margin-top: 8em;
}
.pixel-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 15em;
}
.btcpay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18em;
}