.view{
    background-color: rgb(117, 180, 180);
    
}
.main {   
    text-align: center;
    color: azure;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }